# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# Virtual Environment
venv/
env/
ENV/
.venv

# Data
data/raw/images
data/raw/ham10000_images_part_1
data/raw/ham10000_images_part_2
data/raw/HAM10000_images_part_2
data/raw/HAM10000_images_part_1
data/raw/hmnist_8_8_L.csv
data/raw/hmnist_8_8_RGB.csv
data/raw/hmnist_28_28_L.csv
data/raw/hmnist_28_28_RGB.csv
data/split/

# OS
.DS_Store
Thumbs.db
